<!DOCTYPE html>

<html>
    <head>
      <style>
        table, tr, th, td{
          border: 1px solid black;
          border-collapse : collapse;
          padding : 5px;
        }
      </style>
    </head>

    <body>
      <center><h1> Base de données de chats </h1></center>
      <h3> Voici la liste de tous les chats enregistrés : </h3>

      <table>
        <tr>
          <td> Nom  </td>
          <td> Couleurs  </td>
          <td> Année de naissance </td>
          <td> Année d'adoption </td>
          <td> Propriétaire </td>
          <td> Adresse du propriétaire </td>
        </tr>
        <%
          for(var i = 0 ; i < bdd.length ; i++) {
        %>
        <tr>
            <td><%= bdd[i].nom %></td>
            <td><%= bdd[i].couleur.toString() %></td>
            <td><%= bdd[i].annee_nais %></td>
            <td><%= bdd[i].annee_adopt %></td>
            <% if(typeof bdd[i].proprietaire[0] !== 'undefined'){ %>
              <td><%= bdd[i].proprietaire[0].prenom %> <%= bdd[i].proprietaire[0].nom %></td>
              <td><%= bdd[i].proprietaire[0].adresse.numero %>, <%= bdd[i].proprietaire[0].adresse.rue %> à <%= bdd[i].proprietaire[0].adresse.ville %></td>
            <% }else{ %>
                <td>Pas de propriétaire </td>
            <% } %>
      </tr>
        <% } %>
      </table>

      <h3>Recherche par nom du chat</h3>

      <form method="get" action="/rechercheNom">
        <div>
          <label for="name">Nom du chat :</label>
          <input type="text" id="nom" name="nom">
        </div>

        <div class="button">
        <button type="submit">Rechercher</button>
    </div>

    <div>
      </form>

      <h3>Recherche par couleur du chat</h3>

      <form method="get" action="/rechercheCouleur">
        <div>
          <label for="name">Couleur :</label>
          <input type="text" id="couleur" name="couleur">
        </div>

        <div class="button">
        <button type="submit">Rechercher</button>
    </div>

    <div>
      </form>

        <h3>Ajout d'un chat</h3>

        <form method="get" action="/ajoutChat">
          <div>
            <h4>Chat : </h4>
            <label for="name">Nom du chat :</label>
            <input type="text" id="nom" name="nom">

            <label for="name">Année de naissance :</label>
            <input type="text" id="annee_nais" name="annee_nais">

            <label for="name"> Couleur(s) :</label>
            <input type="text" id="couleur1" name="couleur1">
            <input type="text" id="couleur2" name="couleur2">
            <input type="text" id="couleur3" name="couleur3">
          </div>

          <div class="button">
            <button type="submit">Rechercher</button>
          </div>

    </form>

      <h3>Ajout d'une personne</h3>

      <form method="get" action="/ajoutPersonne">
        <div>
          <label for="name">Nom :</label>
          <input type="text" id="nom_prop" name="nom_prop">

          <label for="name">Prénom :</label>
          <input type="text" id="prenom_prop" name="prenom_prop">

          <label for="name">Année de naissance :</label>
          <input type="text" id="annee_nais_prop" name="annee_nais_prop">

          <div>
            <h4>Adresse : </h4>

            <label for="name">Numéro : </label>
            <input type="text" id="numero" name="numero">

            <label for="name"> Rue :</label>
            <input type="text" id="rue" name="rue">

            <label for="name">Ville :</label>
            <input type="text" id="ville" name="ville">
          </div>
        </div>

        <div class="button">
          <button type="submit">Rechercher</button>
        </div>

        <div>
      </form>

      <h3>Adoption d'un chat</h3>

      <a href="/adoption"> Se rendre sur la page des adoptions </a>

      <h3> Compter le nombre de chats par ville </h3>

      <form method="get" action="/rechercheVille">
        <label for="name">Ville :</label>
        <input type="text" id="ville" name="ville">

        <div class="button">
          <button type="submit">Rechercher</button>
        </div>
      </form>

      <h3> REchercher les chats par couleur (l'une ou l'autre)</h3>

      <form method="get" action="/rechercheDeuxCouleurs">
        <label for="name">Première couleur :</label>
        <input type="text" id="color1" name="color1">
        <label for="name">Deuxième couleur :</label>
        <input type="text" id="color2" name="color2">

        <div class="button">
          <button type="submit">Rechercher</button>
        </div>
      </form>

      <h3>Compter les chats par ville (plusieurs villes)</h3>

      <form method="get" action="/rechercheVilles">
        <label for="name">Nombre de villes à rechercher :</label>
        <input type="text" id="nbVilles" name="nbVilles">

        <div class="button">
          <button type="submit">Aller à la page de recherche</button>
        </div>
      </form>




    </body>
  </html>
